---
  parser: babel-eslint
  extends: "airbnb"
  plugins:
    - jasmine
  rules:
    max-len: [1, 120]
    import/no-extraneous-dependencies: 0
    react/jsx-filename-extension:
      - 2
      - extensions:
        - .js
    jasmine/no-focused-tests: 2
    jasmine/no-disabled-tests: 1
  parserOptions:
    ecmaFeatures:
      experimentalObjectRestSpread: true
  env:
    jasmine: true
    jest: true
    browser: true
    node: true
